<p id="notice"><%= notice %></p>

<h1>Listing Narratives</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Char name</th>
      <th>Story section</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @narratives.each do |narrative| %>
      <tr>
        <td><%= narrative.name %></td>
        <td><%= narrative.char_name %></td>
        <td><%= narrative.story_section %></td>
        <td><%= link_to 'Show', narrative %></td>
        <td><%= link_to 'Edit', edit_narrative_path(narrative) %></td>
        <td><%= link_to 'Destroy', narrative, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Narrative', new_narrative_path %>
